doctype html
html(lang='en')
   // This is the homepage
   head
      meta(charset='UTF-8')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
      link(href='/css/style.css', type='text/css', rel='stylesheet')
      link(href='/css/homepage.css', type='text/css', rel='stylesheet')
      // Font for Logo
      link(href='https://fonts.googleapis.com/css?family=Neucha&display=swap', rel='stylesheet')
      // LOGO CSS
      link(href='/css/logo.css', type='text/css', rel='stylesheet')
      link(href='/css/reactions.css', type='text/css', rel='stylesheet')
      script(src='https://code.jquery.com/jquery-3.4.1.min.js', integrity='sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=', crossorigin='anonymous')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
      script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')
      script(src='https://kit.fontawesome.com/dc5f3f90a7.js', crossorigin='anonymous')
      script(src='https://unpkg.com/axios/dist/axios.min.js')
      script(src='/js/homepage.js')
      title fessBook
   body
      nav.navbar.navbar-expand-md.navbar-dark.bg-dark
         a.navbar-brand(href='/')
            p.logo
               | fess
               span.book BooK
         button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavAltMarkup', aria-controls='navbarNavAltMarkup', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
         #navbarNavAltMarkup.collapse.navbar-collapse
            .navbar-nav
               a.nav-item.nav-link.active(href='/')
                  | Home 
                  span.sr-only (current)
               a.nav-item.nav-link(href='/blog') Blog
               a.nav-item.nav-link.view5(href='/random') Random blog
      #successfulPostAlert
         | '
         .alert.alert-success.alert-dismissible.fade.show(role='alert')
            strong Great job!
            |  Your post has been saved 
            button.close(type='button', data-dismiss='alert', aria-label='Close')
               span(aria-hidden='true') ×
      each item in allPostsInfo
        a(href=item.url)
          div 
            h4=item.title
            p=item.textBody
            img(src=item.gif, alt="add later")
            form#reaction_form(method='POST')
              button#like-button.reaction-button(type='submit', name='like', value='like')
                 i.fas.fa-heart
                 span#like-counter.badge.badge-light #{item.reactions.like}
              button#dislike-button.reaction-button(type='submit', name='dislike', value='dislike')
                 i.fas.fa-thumbs-down
                 span#dislike-counter.badge.badge-light #{item.reactions.dislike}
              button#laugh-button.reaction-button(type='submit', name='laugh', value='laugh')
                 i.fas.fa-laugh-squint
                 span#laugh-counter.badge.badge-light #{item.reactions.laugh}
      
      
